#welcome {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #bdbdbd;
  font-size: 15vh;
  font-weight: 100;
}

body {
  font-family: "Trebuchet MS", Helvetica;
  background-color: #bdbdbd !important;
}

p {
  margin: 0 !important;
}

#weatherResults {
  text-align: center;
  vertical-align: center;
}

#forecastResults{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}

.forecast {
  flex-direction: row;
  display: flex;
  justify-content: space-between ! important;
  background-color: #f6f6f6;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
  align-items: center;
  justify-content: center;
  max-height: 84px
}

.date {
  flex: 30%;
  padding-left: 10px;
  max-height: 80px;
  font-weight: 100 !important;
  font-size: 30px;
}

.hourly_temp {
  flex: 30%;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  text-align: center !important;
  max-height: 80px;
}

.hourly_picture {
  text-align: center;
  flex: 30%;
  max-height: 80px;
}

.black_and_white {
  filter: grayscale(100%);
}
